@use '#styles/colours' as *;
@use '#styles/fonts' as *;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: light;
  font-size: 100%;
}

body {
  --col-blue: #{$col-blue};
  --col-blue-dark: #{$col-blue-dark};
  --col-purp: #{$col-purp};
  --col-pink: #{$col-pink};
  --col-red: #{$col-red};
  --col-orange: #{$col-orange};
  --col-green: #{$col-green};
  --col-grey-light: #{$col-grey-light};
  --col-grey-dark: #{$col-grey-dark};
  font-size: var(--font-size, 100%);
}

body * {
  @include font-ui;
}
